<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/loading') %>
  <script>setLoadingBarProgress(20)</script> 
  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <script>setLoadingBarProgress(40);</script>
  <div class="l_body">
    <div class='container clearfix'>
      <div class='l_main'>
        <%- body %>
      </div>
      <aside class='l_side'>
        <%- partial('_partial/side') %>
      </aside>
      <script>setLoadingBarProgress(60);</script>
    </div>
  </div>
  <div class="busuanzi-stats">
本站总访问量 <span id="busuanzi_site_pv">加载中...</span> 次
本站总访客数 <span id="busuanzi_site_uv">加载中...</span> 人
本页总阅读量 <span id="busuanzi_page_pv">加载中...</span> 次
本页总访客数 <span id="busuanzi_page_uv">加载中...</span> 人

本站今日访问量 <span id="busuanzi_today_site_pv">加载中...</span> 次
本站今日访客数 <span id="busuanzi_today_site_uv">加载中...</span> 人
本页今日阅读量 <span id="busuanzi_today_page_pv">加载中...</span> 次
本页今日访客数 <span id="busuanzi_today_page_uv">加载中...</span> 人
  </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <script>setLoadingBarProgress(80);</script>
  <%- partial('_partial/scripts') %>
  <script>setLoadingBarProgress(100);</script>
</body>
</html>
