<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%
    var title = page.title;
    if (is_archive()) {
      title = 'Archives';
      if (is_month())
        title += ': ' + page.year + '/' + page.month;
      else if (is_year())
        title += ': ' + page.year;
    }
    else if (is_category())
      title = 'Category: ' + page.category;
    else if (is_tag())
      title = 'Tag: ' + page.tag;
  %>
  <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
  <meta name="description" content="<%= theme.seo.description %>" />
  <meta name="keywords" content="<%=(theme.seo.keywords||[]).join(',') %>" />
  <meta name="author" content="<%= theme.seo.author %>" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%- favicon_tag(config.favicon) %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({
    twitter_id: theme.twitter,
    google_plus: theme.google_plus, 
    fb_admins: theme.fb_admins, 
    fb_app_id: theme.fb_app_id}) %>
<link rel="shortcut icon" href="<%- theme.favicon %>" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/mdui@2/mdui.css">
  <link rel="stylesheet" href="/code.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="/icon.css?v2" rel="stylesheet">
<link href="/post-cards.css" rel="stylesheet">
<link href="/hero.css" rel="stylesheet">
<link href="/bluemd.css" rel="stylesheet">
<link rel="shortcut icon" href="<%- config.icon %>">
<script type="module" src="https://unpkg.com/mdui@2/mdui.js"></script>
<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/default.min.css">
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/highlight.min.js"></script>
 <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "<%= theme.clarity.code || 'YOUR_CLARITY_ID' %>");
  </script>
<script type="module" src="/index_post.js"></script>
</head>